{% load static %}
<!-- partial:partials/_sidebar.html -->
<link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/css/logo.css' %}">
<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open bg-white shadow-lg bg-gradient">
    {%if user.is_superuser%}
    <div class="mdc-drawer__header border-bottom border-light">
        <a href="{% url 'home-page' %}" class="brand-logo">
            <img src="{% static 'posApp/assets/material-admin/images/sabon.png' %}" alt="logo" id = "adminlogo">
        </a>
    </div>
    {%else%}
    <div class="mdc-drawer__header border-bottom border-light">
        <a href="/" class="brand-logo">
            <img src="{% static 'posApp/assets/material-admin/images/sabon.png' %}" alt="logo" id = "adminlogo">
        </a>
    </div>
    {%endif%}

    <div class="mdc-drawer__content rounded-4" style="background-color: #0094da">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                {%if user.is_superuser%}
                <div class="mdc-list-item mdc-drawer-item m-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'home-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">home</i> Home
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'category-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">list</i> Category List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'product-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">label</i> Product List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'inventory-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">system_update_alt</i> Inventory
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'sales-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">receipt</i> Sales
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'pos-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">payment</i> POS
                    </a>
                </div>
                 <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'restore' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">restore</i> Restore
                    </a>
                </div>
                {%else%}
                <div class="mdc-list-item mdc-drawer-item m-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'home-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">home</i> Home
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item m-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'pos-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">payment</i> POS
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'product-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">label</i> Product List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item mb-2">
                    <a class="mdc-drawer-link fs-5" href="{% url 'inventory-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon fs-3" aria-hidden="true">system_update_alt</i> Inventory
                    </a>
                </div>

                {%endif%}
            </nav>
        </div>
    </div>
</aside>


<!-- partial -->
